<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Header Table</title>
    <link rel="stylesheet" href="svodTable.css">
    <style>
        
    </style>
</head>
<body>
    <div class="table__head">
        <div class="name__project">Наименование <br> проекта</div>
        <div class="city">Город</div>
        <div class="view__machine">Вид <br> машины</div>
        <div class="quantity__machine">Кол-во <br> машин</div>
        <div class="number__machine">Номер <br> машины</div>
        <div class="name">Обоз <br> начение</div>
        <div class="quantity__lists">Кол-во <br> листов</div>
        <div class="quantity__pog.m">Кол-во пог.м в <br> одном листе</div>
        <div class="rolls">Рулоны</div>
        <div class="printing__time">Время<br>печати, час</div>
        <div class="relays">Смены</div>
        <div class="printing__time-relay">Время печати<br>рулона, час</div>
        <div class="printed__lists">Напечатано <br> листов</div>
        <div class="material">Материал</div>
        <div class="profile">Профиль</div>
        <div class="color__settings">Настрой<br>ка цвета</div>
        <div class="printer">Принтер</div>
        <div class="brak">Брак</div>
        <div class="status__print">
            <div>Статус печати</div>
            <div class="SP__cells">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
            </div>
        </div>   
        <div class="mounting">м2 <br> монтаж</div>     
        <div class="dismantling">м2 <br> демонтаж</div>     
        <div class="type">Тип</div>     
    </div>
</body>
</html>