

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.SV_table__head{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    max-height: 40px;
    max-width: 110%;
    min-width: 110%;
}
.SV_quantity__machine, .SV_number__machine,
.SV_name, .SV_quantity__lists, .SV_rolls,
.SV_relays, .SV_material, .SV_profile,
.SV_color__settings, .SV_printer,
.SV_brak, .SV_mounting, .SV_dismantling,
.SV_type
 {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    border-left: none;
}

.SV_SP__cells {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* border: none !important; */
}

.SV_SP__cells div {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 24px;
    /* max-width: 24px; */
    text-align: center;
    /* border-top: none !important;
    border-bottom: none !important ; */
}

.SV_name__project {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 0 35px;
}

.SV_city, .SV_view__machine {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 0 28px;
}


/* ============================ */

.SV_status__print {
    text-align: center;
    border: 1px solid gray;
    border-bottom: none;
}

.SV_name__project {
    min-width: 152.78px !important;
    max-width: 152.78px !important;
}

.SV_city {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 94.64px !important;
    max-width: 94.64px !important;
}

.SV_view__machine {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 108.78px !important;
    max-width: 108.78px !important;
}
.SV_quantity__pogm{
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 80px !important;
    max-width: 80px !important;
}

.SV_printing__time {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 70px !important;
    max-width: 70px !important;
}

.SV_printing__time-relay {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 80px !important;
    max-width: 80px !important;
}

.SV_printed__lists {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 80px !important;
    max-width: 80px !important;
}

.SV_SP__cells {
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-left: none !important;
    border-right: none !important;
}



.SV_SP__cells div {
    border: 1px solid gray !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-align: center !important;
    max-width: 24px;
    min-width: 24px;
    text-align: center;
    border-top: none !important;
    border-bottom: none !important ;
    border-left: none !important;
}
/* ============================ */