*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-inputs{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.form-inputs input{
    height: 29px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border: 1px solid;
}

.name-input{
    min-width: 105px;
    max-width: 105px;
}

.city-input{
    min-width: 86px;
    max-width: 86px;
}

.mach_type-input{
    min-width: 66px;
    max-width: 66px;
}

.quant-mach_type-input{
    min-width: 90px;
    max-width: 90px;
}

.mach_party-input, .machPogm_party-input, .on-machine-input, .everything-input{
min-width: 50px;
max-width: 50px;
text-align: center;
padding-right: 5px;
}

/* results ============= */

.form-formul-values {
    display: flex;
    margin-top: 10px;
}

.on-car-result,
.everything-result,
.pary-on-car-result,
.quant-all-result,
.rolls-result,
.time-printing-result,
.relays-result,
.time-printing-roll-result,
.checking-result,
.material-result,
.printer-result,
.profile-result,
.color-settings-result,
.montage-result,
.demontage-result,
.view-result{
  
  padding: 5px;
  border: 1px solid ;
  height: 29px;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
  min-width: 50px;
}

.on-car-result, .everything-result,
.pary-on-car-result, .quant-all-result
{
    min-width: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-printing-result,
.relays-result,
.time-printing-roll-result{
    width: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checking-result,
.material-result,
.printer-result,
.profile-result,
.color-settings-result,
.montage-result,
.demontage-result,
.view-result{
    width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}