*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-inputs{
    display: flex;
    align-items: center;
}

.name-input{
    min-width: 105px;
    max-width: 105px;
}

.city-input{
    min-width: 86px;
    max-width: 86px;
}

.mach_type-input{
    min-width: 66px;
    max-width: 66px;
}

.quant-mach_type-input{
    min-width: 90px;
    max-width: 90px;
}

.mach_party-input, .machPogm_party-input, .on-machine-input, .everything-input{
min-width: 50px;
max-width: 50px;
}


