*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.FormTable .container{
  margin-top: 30px;
  margin-left: 30px;
}

.container{
  display: flex;
  flex-direction: row;
}

.volume-block{
  max-width: 170px;
  margin-bottom: 5px;
  
}

h4{
  border: 1px solid black;
  width: 150px;
  margin: 5px 0;
  display: flex;
  padding: 1px;
  justify-content: space-between;
  align-items: center;
}

p{
  border-left: 1px solid black;
  padding: 0  10px;
  margin-left: 10px;
  font-size: 24px;
}

.time{
  margin-left: 50px;
}

.inp-formuls{
  height: 40px;
  width: 110px;
  margin-top: 24px;
  margin-left: 40px;
  padding: 7px;
  padding-top: 2px;
  border-radius: 8%;
  background: #4676D7;
  color: #fff;
  cursor: pointer;
}

.inp-formuls:hover {
  background: #1d49aa;
}

.inp-formuls:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

/* ==================================== */



.form-boxes {
  margin-top: 50px;
  margin-left: 10px;
}

.form-boxes .container div{
  background: rgb(151, 223, 151);
}

.proj-name, 
.city, .type-machine, 
.quantity-machines, 
.quantity-machine-partyes,
.on-machine,
.everything,
.quantity-pogM-mach-partyes,
.quantity-pogM,
.rolls,
.time-printing,
.relays,
.time-printing-roll,
.checking,
.material,
.printer,
.profile,
.color-settings,
.montage,
.demontage,
.view{
  padding: 5px;
  border: 1px solid ;
  height: fit-content;
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

.proj-name{
  min-width: 105px;
  max-width: 105px;
}

.city{
  min-width: 86px;
  max-width: 86px;
}

.type-machine{
  min-width: 66px;
  max-width: 66px;
}

.quantity-machines{
  min-width: 90px;
  max-width: 90px;
}

.quantity-machine-partyes,
.quantity-pogM-mach-partyes{
  min-width: 400px;
  max-width: 400px;
}

.on-machine, .everything{
  min-width: 50px;
  max-width: 50px;
}

.form-boxes .container .on-machine, .form-boxes .container .everything{
  background: white;
  border-bottom: 3px solid;
}

.quantity-pogM, .rolls{
  min-width: 110px;
  max-width: 110px;
}

.form-boxes .container .quantity-pogM,
.form-boxes .container .quant-pog-on-car,
.form-boxes .container .quant-all,
.form-boxes .container .rolls,
.form-boxes .container .on-car,
.form-boxes .container .time-printing,
.form-boxes .container .relays,
.form-boxes .container .time-printing-roll,
.form-boxes .container .checking{
  background: white;
}

.time-printing, .relays, .time-printing-roll{
  min-width: 60px;
  max-width: 60px;
}

.checking,
.material,
.printer,
.profile,
.color-settings,
.montage,
.demontage,
.view{
  min-width: 80px;
  max-width: 80px;
}

.quantity-machine-partyes,
.quantity-pogM-mach-partyes,
.quantity-pogM,
.rolls{
  flex-direction: column;
}

.quant-pogM-box,
.roll-boxes{
  display: flex;
  flex-direction: row;
}

.quantity-machine-partyes, 
.quantity-pogM-mach-partyes,
.quantity-pogM, .rolls{
  position: relative;
}
.quantity-machine-partyes .list, 
.quantity-pogM-mach-partyes .list,
.quant-pogM-box, .roll-boxes
{
  position: absolute;
  bottom: 0;
}

.list{
  display: flex;
  border: 1px solid;
  margin-top: 19px;
}
.list .mach-party,
.list .pog-mach-party{
  border: 1px solid;
  text-align: center;
  padding-top: 5px;
  height: 30px;
  min-width: 50px;
  max-width: 50px;
}

.quant-pogM-box, .roll-boxes{
  display: flex;
  border: 1px solid;
}

.quant-pogM-box .quant-pog-on-car, .quant-all,
.roll-boxes .on-car, .quant-all{
  border: 1px solid;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  min-width: 55px;
  max-width: 55px;
}

.quant-pog-on-car, .on-car{
  padding-left: 6px;
}

.quant-all, .quant-all{
  padding: 7px;
}