*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
  width: 100%;
 /* transform: scale(0.8);
  transform-origin: top left;   */
}

.App{
  display: flex;
  flex-direction: column;
  /* min-height: 100vh;  */
  /* transform: scale(1.25);
  transform-origin: top left;   */
}

.header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1000;
  /* transform: scale(0.8);
  transform-origin: top left;   */
}

.footer{
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 50px;
}

.main-form{
 flex: 1;
 /* margin-top: 320px; */
 margin-bottom: 40px;
 overflow-y: scroll;
 overflow-x: hidden;
 min-width: 111%;
 max-height: 540px;
}

.FormTable .container{
  margin-top: 30px;
  margin-left: 40px;
}

.container{
  display: flex;
  flex-direction: row;
}

.volume-block{
  max-width: 170px;
  margin-bottom: 5px;
  
}

h4{
  border: 1px solid black;
  width: 150px;
  margin: 5px 0;
  display: flex;
  padding: 1px;
  justify-content: space-between;
  align-items: center;
}

.FormTable .container h4 p{
  border-left: 1px solid black;
  padding: 0px  2px;
  text-align: center;
  margin-left: 10px;
  font-size: 15px;
  min-width: 28px;
  max-width: 28px;
}

.time{
  margin-left: 50px;
}

.btns-block{
  display: flex;
  align-items: center;
}

.inp-formuls{
  height: 40px;
  width: 88px;
  margin-left: 40px;
  margin-bottom: 54px;
  padding: 7px;
  padding-top: 2px;
  border-radius: 8%;
  background: #4676D7;
  color: #fff;
  cursor: pointer;
}

.inp-formuls:hover {
  background: #1d49aa;
}

.inp-formuls:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

/* ==================================== */

